<form name="modal.createForm" ng-submit="modal.submit()" novalidate="novalidate" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="modal.dismiss('close')" aria-hidden="true"><i class="fa fa-times"></i></button>
    <h3 class="modal-title">Create {{modal.dialog.eventType}}</h3>
  </div>
  <div class="modal-body">
    <div class="step">
      <div>
        <div class="step-circle">1</div>
        <div class="step-line"></div>
      </div>
      <div>
        <div class="step-title">Basic Information</div>
        <div class="step-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" placeholder="Title" ng-required="true" ng-model="modal.model.name" required />
              <span class="text-danger" ng-show="modal.createForm.name.$touched || modal.createForm.$submitted">
                <span ng-show="modal.createForm.name.$error.required">Required</span>
                <span ng-show="modal.createForm.name.$error.server">{{modal.errors.name}}</span>
              </span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
              <input type="text" name="location" class="form-control" placeholder="Location" ng-required="true" ng-model="modal.model.location" required />
              <span class="text-danger" ng-show="modal.createForm.location.$touched || modal.createForm.$submitted">
                <span ng-show="modal.createForm.location.$error.required">Required</span>
                <span ng-show="modal.createForm.location.$error.server">{{modal.errors.location}}</span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-12 control-label">County</label>
            <div class="col-sm-4 col-xs-6">
              <select class="form-control" ng-model="modal.model.county">
                <option value="adams">Adams</option>
                <option value="asotin">Asotin</option>
                <option value="benton">Benton</option>
                <option value="chelan">Chelan</option>
                <option value="clallam">Clallam</option>
                <option value="clark">Clark</option>
                <option value="columbia">Columbia</option>
                <option value="cowlitz">Cowlitz</option>
                <option value="douglas">Douglas</option>
                <option value="ferry">Ferry</option>
                <option value="franklin">Franklin</option>
                <option value="garfield">Garfield</option>
                <option value="grant">Grant</option>
                <option value="grays harbor">Grays Harbor</option>
                <option value="island">Island</option>
                <option value="jefferson">Jefferson</option>
                <option value="king">King</option>
                <option value="kitsap">Kitsap</option>
                <option value="kittitas">Kittitas</option>
                <option value="klickitat">Klickitat</option>
                <option value="lewis">Lewis</option>
                <option value="lincoln">Lincoln</option>
                <option value="mason">Mason</option>
                <option value="okanogan">Okanogan</option>
                <option value="pacific">Pacific</option>
                <option value="pend orielle">Pend Orielle</option>
                <option value="pierce">Pierce</option>
                <option value="san juan">San Juan</option>
                <option value="skagit">Skagit</option>
                <option value="skamania">Skamania</option>
                <option value="snohomish">Snohomish</option>
                <option value="spokane">Spokane</option>
                <option value="stevens">Stevens</option>
                <option value="thurston">Thurston</option>
                <option value="wahkiakum">Wahkiakum</option>
                <option value="walla walla">Walla Walla</option>
                <option value="whatcom">Whatcom</option>
                <option value="whitman">Whitman</option>
                <option value="yakima">Yakima</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-12 control-label">State #</label>
            <div class="col-sm-4 col-xs-6">
              <input type="text" class="form-control" placeholder="State #" ng-model="modal.model.stateNumber" server-error />
              <div class="text-danger" ng-show="modal.createForm.stateNumber.$touched || modal.createForm.$submitted">
                <span ng-show="modal.createForm.stateNumber.$error.server">{{modal.errors.stateNumber}}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-12 control-label">Start Time</label>
            <div class="col-sm-4 col-xs-6">
              <input type="text" name="start" class="form-control" placeholder="Start Time" ng-model="modal.model.startText" ng-model-options="{getterSetter:true, updateOn:'blur'}" server-error required />
              <div class="text-danger" ng-show="modal.createForm.start.$touched || modal.createForm.$submitted">
                <span ng-show="modal.createForm.start.$error.required">Required</span>
                <span ng-show="modal.createForm.start.$error.server">{{modal.errors.start}}</span>
              </div>
            </div>
            <label class="col-sm-2 col-xs-12 control-label">Stop Time</label>
            <div class="col-sm-4 col-xs-6">
              <input type="text" name="stop" class="col-sm-10 form-control" placeholder="Stop Time" ng-model="modal.model.stopText" ng-model-options="{getterSetter:true, updateOn:'blur'}" server-error />
              <div class="text-danger" ng-show="modal.createForm.stop.$touched || modal.createForm.$submitted">
                <span ng-show="modal.createForm.stop.$error.server">{{modal.errors.stop}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="step">
      <div>
        <div class="step-circle">2</div>
        <div class="step-line"></div>
      </div>
      <div>
        <div class="step-title">Location</div>
        <div class="step-body">
          Location map and stuff
        </div>
      </div>
    </div>-->

  </div>
  <div class="modal-footer">
    <!-- <a class="btn" ng-class="{'btn-primary': !modal.lastStep, 'btn-default': modal.lastStep}">Next</a> -->
    <button type="submit" class="btn btn-primary" ng-class="{'btn-primary': modal.lastStep, 'btn-default': !modal.lastStep}">Create</button>
  </div>
</form>