<form name="modal.createForm" ng-submit="modal.submit()" novalidate="novalidate" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-disabled="modal.isWorking" ng-click="modal.dismiss('close')" aria-hidden="true"><i class="fa fa-times"></i></button>
    <h3 class="modal-title">{{modal.dialog.isCreate ? 'Add' : 'Edit'}} Document</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-2 col-xs-12 control-label">File</label>
      <div class="col-xs-6" ng-if="!modal.dialog.isCreate">{{modal.model.filename}} ({{modal.model.size}})</div>
      <div class="col-sm-5 col-xs-6" ng-if="modal.dialog.isCreate">
        <div name="file" ngf-select ngf-drop ng-model="modal.model.file" class="drop-box" required server-error>
          <div>Click or drag/drop file here</div>
          <div ng-if="modal.model.file">Selected: {{modal.model.file.name}} ({{modal.model.file.size}} bytes)</div>
        </div>
        <div class="text-danger" ng-show="modal.createForm.file.$touched || modal.createForm.$submitted">
          <span ng-show="modal.createForm.file.$error.required">Required</span>
          <span ng-show="modal.createForm.file.$error.server">{{modal.errors.file}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-xs-12 control-label">Message</label>
      <div class="col-sm-5 col-xs-6">
        <select class="form-control" ng-model="modal.model.type" server-error>
          <option value="unknown">Other</option>
          <option value="roster">Roster</option>
          <option value="log">Log</option>
          <option value="map">Map Info</option>
        </select>
        <span class="text-danger" ng-show="modal.createForm.type.$touched || modal.createForm.$submitted">
          <span ng-show="modal.createForm.type.$error.server">{{modal.errors.type}}</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea name="description" class="form-control" ng-model="modal.model.description" rows="5" server-error></textarea>
        <span class="text-danger" ng-show="modal.createForm.description.$touched || modal.createForm.$submitted">
          <span ng-show="modal.createForm.description.$error.server">{{modal.errors.description}}</span>
        </span>
      </div>
    </div>
    <div class="form-group" ng-if="!modal.dialog.isCreate">
      <label class="col-sm-2 control-label">Changed</label>
      <div class="col-sm-10 form-control-static">{{modal.model.changed | date}} by {{modal.model.changedBy}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn pull-left text-danger" ng-click="modal.checkDelete(modal.model.filename); $event.preventDefault()" ng-disabled="modal.isWorking" ng-if="!modal.dialog.isCreate"><i class="fa fa-spinner fa-spin" ng-if="modal.isDeleting"></i> Delete</button>
    <button ng-if="!modal.dialog.isCreate" class="btn" ng-click="modal.download(); $event.preventDefault();">Download</button>
    <button class="btn" ng-disabled="modal.isWorking" ng-click="modal.dismiss('close'); $event.preventDefault();">Close</button>
    <button type="submit" class="btn btn-primary" ng-disabled="modal.isWorking"><i class="fa fa-spinner fa-spin" ng-if="modal.isSaving"></i> Save</button>
  </div>
</form>