<form name="modal.createForm" ng-submit="modal.submit()" novalidate="novalidate" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="modal.dismiss('close')" aria-hidden="true"><i class="fa fa-times"></i></button>
    <h3 class="modal-title">{{modal.dialog.isCreate ? 'Add' : 'Edit'}} Document</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-2 col-xs-12 control-label">Time</label>
      <div class="col-sm-4 col-xs-6">
        <input type="text" name="time" class="form-control" placeholder="Time" ng-model="modal.model.timeText" ng-model-options="{getterSetter:true, updateOn:'blur'}" server-error required />
        <div class="text-danger" ng-show="modal.createForm.time.$touched || modal.createForm.$submitted">
          <span ng-show="modal.createForm.time.$error.required">Required</span>
          <span ng-show="modal.createForm.time.$error.server">{{modal.errors.time}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Message</label>
      <div class="col-sm-10">
        <textarea name="message" class="form-control" rows="6" ng-model="modal.model.message" required></textarea>
        <span class="text-danger" ng-show="modal.createForm.message.$touched || modal.createForm.$submitted">
          <span ng-show="modal.createForm.message.$error.required">Required</span>
          <span ng-show="modal.createForm.message.$error.server">{{modal.errors.message}}</span>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <a class="btn" ng-class="{'btn-primary': !modal.lastStep, 'btn-default': modal.lastStep}">Next</a> -->
    <button type="submit" class="btn btn-primary" ng-class="{'btn-primary': modal.lastStep, 'btn-default': !modal.lastStep}">Save</button>
  </div>
</form>