<md-content layout-padding flex ng-controller="AnimalsDetailCtrl">
  <md-card flex-md="60" flex-gt-md="40">
    <md-card-title>
      <md-card-title-media>
        <img ng-if="animal.id" class="md-media-lg-card-media badge-photo" ng-src="{{'/api2/animals/' + animal.id  + '/photo?access_token='+ ($currentUser.user || {}).access_token}}"></img>
      </md-card-title-media>
      <md-card-title-text>
        <div class="md-headline">{{animal.name}}</div>
        <div>Type: {{animal.type}}</div>
        <div>ID Suffix: {{animal.idSuffix}}</div>
        <div layout="row" ng-if="animal.comments">
          <div>Comments:</div>
          <div flex>{{animal.comments}}</div>
        </div>
      </md-card-title-text>
    </md-card-title>
  </md-card>
  <div class="tabs">
    <md-tabs class="md-accent" md-selected="selectedTab">
      <md-tab ng-repeat="tab in tabs">{{tab.name}}</md-tab>
    </md-tabs>
    <ui-view></ui-view>
  </div>
</md-content>