<md-content layout-padding flex ng-controller="AnimalsDetailCtrl">
  <md-card flex-md="60" flex-gt-md="40">
    <md-card-title>
      <md-card-title-media>
        <img ng-if="animal.id" class="md-media-lg-card-media badge-photo" ng-src="{{'/api2/animals/' + animal.id  + '/photo?access_token='+ ($currentUser.user || {}).access_token}}"></img>
      </md-card-title-media>
      <md-card-title-text>
        <div class="md-headline">{{animal.name}}</div>
        <div>Type: {{animal.type}}</div>
        <div>ID Suffix: {{animal.idSuffix}}</div>
        <div layout="row" ng-if="animal.comments">
          <div>Comments:</div>
          <div flex>{{animal.comments}}</div>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button md-secondary md-hue-3" aria-label="Edit Animal" ng-if="animal._u" ng-click="editAnimal($event, animal)">
        <md-icon>edit</md-icon>
      </md-button>
      <md-button class="md-icon-button md-secondary md-warn" aria-label="Delete Animal" ng-if="animal._d" ng-click="deleteAnimal($event, animal)">
        <md-icon>delete</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
  <div class="tabs">
    <md-tabs class="md-accent" md-selected="selectedTab">
      <md-tab ng-repeat="tab in tabs">{{tab.name}}</md-tab>
    </md-tabs>
    <ui-view></ui-view>
  </div>
</md-content>