web.local.config
Web.Release.config
cert.pfx
cert.cer
cert.pvk

log4net.config
logs/

/publish/
**/wwwroot/lib/
*.csproj.user

PublishProfiles/
TestResults/

.vs
artifacts/
packages/
bin/
obj/
node_modules/
