@*
  * Copyright 2015 Matthew Cosand
*@
@{
  ViewBag.Title = Strings.DatabaseName + " " + Strings.Login;
}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">@Strings.GroupName</h3>
      </div>
      <div class="panel-body" data-bind="component: { name: 'login-form', params: {showLinks: true }}">@Strings.Loading</div>
    </div>
  </div>
</div>