@{
  Layout = User.Identity.IsAuthenticated ? "~/Views/Shared/_FrameLayout.cshtml" : "~/Views/Shared/_NoSidebarLayout.cshtml";
  ViewBag.Title = "Login";
  ViewBag.UseContainer = true;
  ViewBag.HideAccountWhenXS = true;
}
<div class="row">
  <div class="col-xs-12 col-sm-8 col-lg-6 col-sm-offset-2 col-lg-offset-3">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
      <div class="box" style="margin-top:3em">
        <div class="box-header with-border login-header hidden-xs">

        </div>
        <div class="box-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="password" class="col-sm-3 col-md-2 control-label">Username:</label>
              <div class="col-sm-9 col-md-10">
                <input id="username" name="username" type="text" value="" class="form-control" autofocus="autofocus" />
                <span class="field-validation-valid" data-valmsg-for="username" data-valmsg-replace="true"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-3 col-md-2 control-label">Password:</label>
              <div class="col-sm-9 col-md-10">
                <input id="password" name="password" type="password" value="" class="form-control" />
                <span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
              </div>
            </div>
          </div>
          <div class="form-group hidden">
            <div class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="rememberMe" value="true"> Remember me
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer box-action-footer">
          <div class="col-xs-12">
            <input id="login" class="btn text-bold" name="login" type="submit" value="Login" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-lg-6 col-sm-offset-2 col-lg-offset-3 text-right">
    <div style="font-size:90%;"><a href="/Account/ResetPassword">Forgotten Password</a></div>
    <div style="font-size:90%;"><a href="/Account/Register">Register New Account</a></div>
  </div>
</div>
