@*
  * Copyright 2015 Matthew Cosand
*@
<div class="overlay" data-bind="visible: roster.loading"><h1>Loading ...</h1></div>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="hidden-xs" data-bind="sort: { arr: roster, prop: 'participant.idNumber'}">@Strings.IdNumber</th>
      <th data-bind="sort: { arr: roster, prop: 'participant.name'}">Name</th>
      <th data-bind="sort: { arr: roster, prop: 'unit.name'}">Unit</th>
      <th data-bind="sort: { arr: roster, prop: 'hours'}" class=" r">Hours</th>
      <th data-bind="sort: { arr: roster, prop: 'miles'}" class=" r hidden-xs">Miles</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: roster">
    <tr>
      <td class="hidden-xs"><span data-bind="text: participant.idNumber" style="white-space: nowrap"></span></td>
      <td><span data-bind="text: participant.name"></span></td>
      <td><span data-bind="text: unit.name"></span>@*<a data-bind="attr: {href: $parent.linkUrl + eventId}, html: title"></a>*@</td>
      <td class="r"><span data-bind="text: hoursText"></span></td>
      <td class="r hidden-xs"><span data-bind="text: miles"></span></td>
    </tr>
  </tbody>
  <tfoot>
  @*  <tr>
      <th colspan="3">
      <span data-bind="text: totals().count"></span> @Strings.ResourceManager.GetString("Event_Count" + @ViewBag.EventType)
        <span class="visible-xs pull-right" data-bind="text: totals().hoursText + ' Hours'"></span>
      </th>
      <th class="r hidden-xs" data-bind="text: totals().hoursText"></th>
      <th class="r hidden-xs" data-bind="text: totals().miles"></th>
    </tr>*@
  </tfoot>
</table>
