<ul class="list-group" data-bind="foreach: addresses">
  <li class="list-group-item clearfix">
    <i class="fa fa-fw fa-home fa-2x pull-left"></i>
    <div class="pull-left">
      <span data-bind="text: street"></span><br />
      <span data-bind="text: city"></span>, <span data-bind="text: state"></span> <span data-bind="text: zip"></span>
    </div>
  </li>
</ul>