@*
  * Copyright 2015 Matthew Cosand
*@
<div class="overlay" data-bind="visible: events.loading"><h1>Loading ...</h1></div>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th data-bind="sort: { arr: events, prop: 'start'}">Date</th>
      <th data-bind="sort: { arr: events, prop: 'number'}" class="hidden-xs">DEM</th>
      <th data-bind="sort: { arr: events, prop: 'title'}">Title</th>
      <th data-bind="sort: { arr: events, prop: 'hours'}" class="r hidden-xs">Hours</th>
      <th data-bind="sort: { arr: events, prop: 'miles'}" class="r hidden-xs">Miles</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: events">
    <tr>
      <td><span data-bind="text: startText" style="white-space: nowrap"></span></td>
      <td class="hidden-xs"><span data-bind="text: number"></span></td>
      <td><a data-bind="attr: {href: $parent.linkUrl.replace('{0}', eventId)}, nbText: title"></a></td>
      <td class="r hidden-xs"><span data-bind="text: hoursText"></span></td>
      <td class="r hidden-xs"><span data-bind="text: miles"></span></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3">
      <span data-bind="text: totals().count"></span> @Strings.ResourceManager.GetString("Event_Count" + @ViewBag.EventType)
        <span class="visible-xs pull-right" data-bind="text: totals().hoursText + ' Hours'"></span>
      </th>
      <th class="r hidden-xs" data-bind="text: totals().hoursText"></th>
      <th class="r hidden-xs" data-bind="text: totals().miles"></th>
    </tr>
  </tfoot>
</table>
