<md-content layout-padding flex ng-controller="UnitsDetailCtrl">
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{unit.name}} Reports</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-list flex>
        <md-list-item>
          <div class="md-list-item-text">
            <a class="md-accent" ng-href="/units/roster/{{unit.id}}" href="#">View Roster</a>
          </div>
        </md-list-item>
        <md-list-item>
          <div class="md-list-item-text">
            <a class="md-accent" ng-href="/units/downloadroster/{{unit.id}}" href="#" target="_self">Download Roster</a> (Contact information for active members)
          </div>
        </md-list-item>
        <md-list-item>
          <div class="md-list-item-text">
            <a class="md-accent" ng-href="/units/corecompreport/{{unit.id}}" href="#" target="_self">Download Core Competency Report</a>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Unit Status Types</span>
        <div flex></div>
        <md-button class="md-icon-button md-accent" aria-label="Add Status Type">
          <md-icon>add_circle</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card-content>
      <md-table-container>
        <table md-table sortable-columns md-progress="loading">
          <thead md-head md-order="query.order" md-on-reorder="getRoster">
            <tr md-row>
              <th md-column md-order-by="member.name">Status Name</th>
              <th md-column md-order-by="member.workerNumber">Is Active?</th>
              <th md-column md-order-by="status">WAC Level</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-auto-select ng-repeat="s in statusTypes.list | orderBy: statusTypes.query.order">
              <td md-cell>{{s.name}}</a></td>
              <td md-cell>{{s.isActive}}</td>
              <td md-cell>{{s.wacLevel}}</td>
              <td md-cell></td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card-content>
  </md-card>
</md-content>