<edit-dialog name="editUnitStatus">
  <md-input-container>
    <label>Name</label>
    <input ng-model="item.name" name="name" md-auto-focus required>
    <div ng-messages="editUnitStatus.name.$error">
      <div ng-message="required">Name is required.</div>
      <div ng-message="server">{{editUnitStatus.name.$error.server}}</div>
    </div>
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>WAC Level</label>
    <md-select ng-model="item.wacLevel" name="wacLevel">
      <md-option ng-repeat="level in more.wacLevels" value="{{level}}">{{level}}</md-option>
    </md-select>
  </md-input-container>
  <md-switch ng-model="item.isActive" name="isActive" aria-label="Is Active">
    Is Active Member
  </md-switch>
  <md-switch ng-model="item.getsAccount" name="getsAccount" aria-label="Gets Database Account">
    Gets Database Account
  </md-switch>
</edit-dialog>