<md-content layout-padding flex ng-controller="UnitsCtrl">
  <md-card>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Unit List</span>
        <div flex></div>
        <md-button class="md-icon-button md-primary" aria-label="Add Unit" ng-if="units._c" ng-click="createNew($event)">
          <md-icon>add_circle</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card-content>
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="unit in units" ng-href="/units/detail/{{unit.id}}">
          <div class="md-list-item-text">
            <h3>{{unit.name}}</h3>
            <p>{{unit.fullName}}</p>
          </div>
          <md-icon ng-if="unit._u" ng-click="editUnit($event, unit)" aria-label="Edit Unit" class="md-secondary md-hue-3">edit</md-icon>
          <md-icon ng-if="unit._d" ng-click="deleteUnit($event, unit)" aria-label="Delete Unit" class="md-secondary md-warn">delete</md-icon>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</md-content>