@{
  ViewBag.Title = "Missions";
}
@section header {
  <h1>Missions</h1>
}
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        Blah
      </div>
    </div>
  </div>
</div>