@{
  ViewBag.Title = (string)ViewBag.EventTypeText + " List";
  ViewBag.NgController = "EventListCtrl";
  ViewBag.NgInit = Html.Raw("init('" + ViewBag.EventRoute + "', '" + ViewBag.EventTypeText +"')");
  ViewBag.NgModules = new[] { "ngFileUpload" };
  ViewBag.Requires = new[] { "controllers/events/list", "ng-file-upload" };
  bool canEdit = true;
}
@section header {
  <h1>@ViewBag.EventTypeText List</h1>
}
@if (canEdit)
{
  <div ng-cloak ng-if="can.create" ng-click="startCreate()" class="shadow-3" style="position:fixed; bottom:1.5em; right: 1.5em; cursor:pointer; border-radius:50%; background-color: #f39c12; z-index:1000"><i class="fa fa-2x fa-plus" style="color:white; padding:.4em .4em .3em .4em"></i></div>
}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <div class="pull-right">
          <div>
            <div>
              <strong>Year: </strong>
              <select class="form-control" style="display:inline; width:initial" ng-model="year" ng-options="item as item for item in years"><option value="">All</option></select>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th class="hidden-xs">DEM</th>
              <th>Date</th>
              <th>Name</th>
              <th class="text-right hidden-xs">Persons</th>
              <th class="text-right hidden-xs hidden-sm">Hours</th>
              <th class="text-right hidden-xs hidden-sm">Miles</th>
            </tr>
          </thead>
          <tbody ng-cloak>
            <tr ng-repeat="e in list" ng-click="showInfo(e)">
              <td ng-if="detailedEvent != e" class="hidden-xs">{{e.number}}</td>
              <td ng-if="detailedEvent != e">{{e.date.toDate() | date:'M/d/yyyy'}}</td>
              <td ng-if="detailedEvent != e" style="position:relative">
                {{e.title}}
                <div class="parent-hover-show" style="position:absolute; right:5px; top:5px;">
                  <a ng-href="{{tabLink('documents', e.id)}}" ng-click="$event.stopPropagation()" title="View Documents"><i class="fa fa-fw fa-file-text-o"></i></a>
                  <a ng-href="{{tabLink('roster', e.id)}}" ng-click="$event.stopPropagation()" title="View Roster"><i class="fa fa-fw fa-list-alt"></i></a>
                </div>
              </td>
              <td ng-if="detailedEvent != e" class="text-right hidden-xs">{{e.people}}</td>
              <td ng-if="detailedEvent != e" class="text-right hidden-xs hidden-sm">{{e.hours | number:2}}</td>
              <td ng-if="detailedEvent != e" class="text-right hidden-xs hidden-sm">{{e.miles}}</td>
              <td ng-if="detailedEvent == e" class="active shadow-2" colspan="7" style="border-top:solid 1px #bbb; border-bottom: solid 1px #bbb">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <h4 style="margin: 0px; font-weight:bold">{{e.title}}</h4>
                    <div><strong>DEM#:</strong> {{e.number}}</div>
                    <div><strong>Started:</strong> {{e.date.toDate() | date: 'EEE M/d/yyyy h:mm a'}}</div>
                    <div style="margin:.4em 0px .7em;"><strong>Persons:</strong> {{e.people}} <strong>Hours:</strong> {{e.hours | number: 2}} <strong>Miles:</strong> {{e.miles}}</div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div><a ng-href="{{tabLink('roster', e.id)}}" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-list-alt"></i> Roster</a></div>
                    <div><a ng-href="{{tabLink('log', e.id)}}" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-pencil-square-o"></i> Log</a></div>
                    <div><a ng-href="{{tabLink('documents', e.id)}}" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-file-text-o"></i> Documents</a></div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div id="eventMap" ng-if="detailedEvent.baseLocation" class="static-map" style="height:7em; width:100%; border:solid 1px black" ng-click="mapClick(e.id, $event);"></div>
                    <div ng-if="!detailedEvent.baseLocation" style="margin: auto; width:100%; text-align:center; height:7em">Unknown Base Location</div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot ng-cloak>
            <tr>
              <th class="hidden-xs"></th>
              <th></th>
              <th>{{list.length}} Missions</th>
              <th class="text-right hidden-xs">{{list.people}}</th>
              <th class="text-right hidden-xs hidden-sm">{{list.hours | number:2}}</th>
              <th class="text-right hidden-xs hidden-sm">{{list.miles}}</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div ng-if="list.loading" class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</div>
@section head {<link rel="stylesheet" type="text/css" href="~/lib/mapbox.js/mapbox.css" />
  <link rel="stylesheet" type="text/css" href="~/css/sar-map.min.css" />}
@section scripts {
  @if (canEdit)
  {
    <script type="text/ng-template" id="create.html">
    </script>
  }
  <script src="//maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
  <script type="text/javascript" src="~/lib/mapbox.js/mapbox.uncompressed.js"></script>
  <script type="text/javascript" src="~/lib/leaflet.google.js"></script>
  <script type="text/javascript" src="~/lib/TileLayer.GeoJSON.js"></script>
  <script type="text/javascript" src="~/js/maps/map.js"></script>
}