@{
  ViewBag.Title = "Members";
}
@using Kcsara.Database.Web.Models;
@section header {
  <h1>@Strings.GroupName Members</h1>
}
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <p>
We have lots of volunteers!
        </p>
      </div>
    </div>
  </div>
</div>