<md-content layout-padding flex ng-controller="CourseRosterCtrl">
  <md-card>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools" layout="row" flex layout-xs="column" layout-align="start center" layout-align-xs="start stretch">
        <div flex-gt-xs>{{course.name}} Roster</div>
        <div layout="row" layout-align="end">
          <div style="font-size:75%"><md-switch ng-model="showExpired" aria-label="Show expired records">Show Expired</md-switch></div>
        </div>
      </div>
    </md-toolbar>
    <md-card-content>
      <md-table-container>
        <table md-table sortable-columns md-progress="loading">
          <thead md-head md-order="query.order" md-on-reorder="getRoster">
            <tr md-row>
              <th md-column md-order-by="member.name">Name</th>
              <th md-column md-order-by="completed">Completed</th>
              <th md-column md-order-by="expires">Expires</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-auto-select ng-repeat="record in roster | filter:doFilter | orderBy: query.order">
              <td md-cell><a href="#" target="_self" ng-href="/members/detail/{{record.member.id}}" md-colors="{color:'primary'}">{{record.member.name}}</a></td>
              <td md-cell>{{record.completed | simpleDate}}</td>
              <td md-cell>{{record.expires | simpleDate}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card-content>
  </md-card>
</md-content>