<md-content layout-padding flex ng-controller="CourseRosterCtrl">
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{course.name}} Roster</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <div layout="row" layout-align="end center">
        <md-switch ng-model="currentOnly" aria-label="Show expired records">Current</md-switch>
      </div>
      <md-divider />
      <md-table-container>
        <table md-table sortable-columns md-progress="loading">
          <thead md-head md-order="query.order" md-on-reorder="getRoster">
            <tr md-row>
              <th md-column md-order-by="member.name">Name</th>
              <th md-column md-order-by="completed">Completed</th>
              <th md-column md-order-by="expires">Expires</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-auto-select ng-repeat="record in roster | filter:doFilter | orderBy: query.order">
              <td md-cell><a href="#" target="_self" ng-href="/members/detail/{{record.member.id}}" md-colors="{color:'primary'}">{{record.member.name}}</a></td>
              <td md-cell>{{record.completed | simpleDate}}</td>
              <td md-cell>{{record.expires | simpleDate}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card-content>
  </md-card>
</md-content>