.search-img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 10;
  width: 36px;
  height: 36px;
  background-position: center center;
  background-size: 36px 48px;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 6px 0px -6px;
}

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  font-size:14px;
}

md-list-item .md-no-style.md-button p {
  word-break: break-all;
}

md-sidenav md-autocomplete-wrap {
  border-bottom: solid 1px orange;
}

md-sidenav md-autocomplete-wrap.md-menu-showing {
  border-bottom-width: 0px;
}

md-card-header-text button.md-button.md-icon-button {
  padding-top:0px;
  padding-bottom:0px;
  height:24px;
}

md-toolbar.md-table-toolbar .md-toolbar-tools > .md-button.md-icon-button:last-child
{
  /* So action buttons in toolbars line up with buttons in tables */
  margin-right: 0px;
}

.caption {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  vertical-align:middle;
  text-align: left;
  text-transform: uppercase;
}

table.md-table td.md-cell.td-actions-cell:last-child, table.md-table th.md-column.th-actions:last-child {
  padding-right: 0px;
}

table.md-table:not(.md-row-select) td.md-cell.icon-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column.icon-column:nth-child(n+2):nth-last-child(n+2) {
  padding-right:14px;
}

table.md-table tfoot th {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  vertical-align:middle;
  text-align: left;
  height:48px;
  border-top: double 3px #a0a0a0;
}

table.md-table:not(.md-row-select) tfoot th:first-child {
  padding: 0px 24px;
}
table.md-table tfoot th:last-child {
  padding: 0px 24px 0 0;
}

table.md-table tfoot th.r {
  text-align: right;
}

td.md-cell.td-actions-cell {
  width: 24px;
  white-space: nowrap;
}

md-dialog md-input-container .md-errors-spacer {
  min-height: initial;
}
md-dialog-actions {
  border-top: solid 1px #FFD284;
}

md-list-item md-chips .md-chips {
  box-shadow: none;
}

md-tooltip .md-content {
    height: auto;
}

tr.clickable:hover {
  background-color: #eee !important;
  cursor: pointer;
}

.filter-row md-switch {
  margin: 0 0 0 2em;
}
.filter-row label {
  margin-right:.4em;
  margin-left:1em;
}
.filter-row md-select { margin: 5px 5px; }


.badge-photo {
  width: 6em;
  height: 8em;
  border: 1px solid #444;
  margin-right: 1em;
}

.tabs > ui-view > * {
  margin-top: 15px;

}
.tabs > ui-view > md-content > *:first-child
{
  margin-top: 1px;
}

.tabs md-card {
  margin-left: 1px;
  margin-right:1px;
}

.auto-complete-input-container {
  position: relative;
  margin-top:1em;
}
.auto-complete-input-container > label{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: auto;
  transform: translate3d(-14px, 0px, 0) scale(0.75);
}

@media(max-width:599px) {
  .left-separator-gt-xs {
    border-top: solid 1px #aaa;
    padding-top:1em;
  }
    .left-separator-gt-xs:first-child {
      padding-top:0px;
      border-top: none;
    }
}

@media(min-width:600px) {
  .left-separator-gt-xs {
    border-left: solid 1px #aaa;
  }
    .left-separator-gt-xs:first-child {
      border-left: none;
    }
}


/* md-tabs styles like md-nav-bar */
.md-button.md-default-theme.md-accent, .md-button.md-accent {
  color: #f39c12;
}
md-tabs.md-default-theme.md-accent > md-tabs-wrapper, md-tabs.md-accent > md-tabs-wrapper {
  background-color: transparent;
}

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: rgba(0,0,0,0.54);
}

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
  color: #f39c12;
}

md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
  color: #f39c12;
  background: #f39c12;
}

md-tabs {
  border-bottom: solid 1px rgba(0,0,0,0.12);
}
/* END md-tabs styles like md-nav-bar */
