.search-img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 10;
  width: 36px;
  height: 36px;
  background-position: center center;
  background-size: 36px 48px;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 6px 0px -6px;
}

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  font-size:14px;
}

md-list-item .md-no-style.md-button p {
  word-break: break-all;
}

md-autocomplete-wrap {
  border-bottom: solid 1px orange;
}

md-autocomplete-wrap.md-menu-showing {
  border-bottom-width: 0px;
}

md-card-header-text button.md-button.md-icon-button {
  padding-top:0px;
  padding-bottom:0px;
  height:24px;
}

md-toolbar.md-table-toolbar .md-toolbar-tools > .md-button.md-icon-button:last-child
{
  /* So action buttons in toolbars line up with buttons in tables */
  margin-right: 0px;
}

table.md-table td.md-cell.td-actions-cell:last-child, table.md-table th.md-column.th-actions:last-child {
  padding-right: 0px;
}
td.md-cell.td-actions-cell {
  width: 24px;
  white-space: nowrap;
}

md-dialog md-input-container .md-errors-spacer {
  min-height: initial;
}
md-dialog-actions {
  border-top: solid 1px #FFD284;
}

md-list-item md-chips .md-chips {
  box-shadow: none;
}