<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="AuthStore" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=devdb;Persist Security Info=True;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="DataStore" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=devdb;Persist Security Info=True;Integrated Security=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="encryptKey" value="256-bit-key-in-Base64"/>
  </appSettings>
  <system.web>
    <machineKey compatibilityMode="Framework45" validationKey="B008BC9E475BC2C25D2C068CEA309DF748BF92BDAB992EA876246A51C67AEB804F50B98D1AA481445613B314215DFC02B2A28E3FBEDA759DF905B0C786A650E2" decryptionKey="65B8A3BD67C1117882F2595E0CAFB85C70B84F6D174828FC" validation="SHA1" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>