<md-content layout-padding flex ng-controller="MembersDetailCtrl">
  <md-card flex-md="60" flex-gt-md="40">
    <md-card-title>
      <md-card-title-media>
        <img ng-if="member.id" class="md-media-lg-card-media badge-photo" ng-src="{{'/api2/members/' + member.id  + '/photo?access_token='+ ($currentUser.user || {}).access_token}}"></img>
      </md-card-title-media>
      <md-card-title-text>
        <div class="md-headline">{{member.name}}</div>
        <div>ID Number: {{member.workerNumber}}</div>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button md-secondary md-hue-3" aria-label="Edit Photo" ng-if="member._u" ng-click="pickPhoto($event, member)">
        <md-icon>photo_camera</md-icon>
      </md-button>
      <md-button class="md-icon-button md-secondary md-hue-3" aria-label="Edit Member" ng-if="member._u" ng-click="editMember($event, member)">
        <md-icon>edit</md-icon>
      </md-button>
      <md-button class="md-icon-button md-secondary md-warn" aria-label="Delete Member" ng-if="member._d" ng-click="deleteMember($event, member)">
        <md-icon>delete</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
  <div class="tabs">
    <md-tabs class="md-accent" md-selected="selectedTab">
      <md-tab ng-repeat="tab in tabs">{{tab.name}}</md-tab>
    </md-tabs>
    <ui-view></ui-view>
  </div>
</md-content>