  <table class="table table-striped table-responsive table-condensed">
    <thead>
      <tr><th class="hidden-xs">DEM#</th><th>Date</th><th ng-if="showUnitColumn">Unit</th><th>Title</th><th class="text-right">Hours</th><th class="text-right">Miles</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="e in events" ng-click="showInfo(e)">
        <td ng-if="detailedEvent != e" class="hidden-xs">{{e.number}}</td>
        <td ng-if="detailedEvent != e">{{e.date.toDate() | date:'M/d/yyyy'}}</td>
        <td ng-if="detailedEvent != e && showUnitColumn">{{e.unit.name}}</td>
        <td ng-if="detailedEvent != e" style="position:relative">
          {{e.title}}
          <!--<div class="parent-hover-show" style="position:absolute; right:5px; top:5px;">
            <a ng-href="{{tabLink('documents', e.id)}}" ng-click="$event.stopPropagation()" title="View Documents"><i class="fa fa-fw fa-file-text-o"></i></a>
            <a ng-href="{{tabLink('roster', e.id)}}" ng-click="$event.stopPropagation()" title="View Roster"><i class="fa fa-fw fa-list-alt"></i></a>
          </div>-->
        </td>
        <td ng-if="detailedEvent != e" class="text-right hidden-xs hidden-sm">{{e.hours | number:2}}</td>
        <td ng-if="detailedEvent != e" class="text-right hidden-xs hidden-sm">{{e.miles}}</td>
        <td ng-if="detailedEvent == e" class="active shadow-2" colspan="7" style="border-top:solid 1px #bbb; border-bottom: solid 1px #bbb">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4 style="margin: 0px; font-weight:bold">{{e.title}}</h4>
              <div><strong>DEM#:</strong> {{e.number}}</div>
              <div><strong>Started:</strong> {{e.date.toDate() | date: 'EEE M/d/yyyy h:mm a'}}</div>
              <!--<div style="margin:.4em 0px .7em;"><strong>Persons:</strong> {{e.people}} <strong>Hours:</strong> {{e.hours | number: 2}} <strong>Miles:</strong> {{e.miles}}</div>-->
            </div>
            <div class="col-xs-12 col-sm-6">
              <strong>Timeline:</strong>
              <ul>
                <li ng-repeat="t in detailedEvent.timeline">{{t.time.format('HHmm YYYY-MM-DD')}} {{t.status}}<span ng-if="t.role"> as {{t.role}}</span><span ng-if="t.unit"> with {{t.unit.name}}</span></li>
              </ul>

              <div ng-if="detailedEvent.awards.length">
                <strong>Completed Training:</strong>
                <ul>
                  <li ng-repeat="a in detailedEvent.awards">{{a.course.name}}</li>
                </ul>
              </div>
            </div>
            <!--<div class="col-xs-6 col-sm-3">
              <div><a ng-href="{{tabLink('roster', e.id)}}" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-list-alt"></i> Roster</a></div>
              <div><a ng-href="{{tabLink('log', e.id)}}" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-pencil-square-o"></i> Log</a></div>
              <div><a ng-href="{{tabLink('documents', e.id)}}" ng-click="$event.stopPropagation()"><i class="fa fa-fw fa-file-text-o"></i> Documents</a></div>
            </div>-->
            <!--<div class="col-xs-6 col-sm-3">
              <div id="eventMap" ng-if="detailedEvent.baseLocation" class="static-map" style="height:7em; width:100%; border:solid 1px black" ng-click="mapClick(e.id, $event);"></div>
              <div ng-if="!detailedEvent.baseLocation" style="margin: auto; width:100%; text-align:center; height:7em">Unknown Base Location</div>
            </div>-->
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th class="hidden-xs"></th>
        <th></th>
        <th ng-if="showUnitColumn"></th>
        <th>{{events.count}} {{eventTypeText}}{{events.length == 1 ? '' : 's'}}</th>
        <th class="text-right">{{events.hours | number:2}}</th>
        <th class="text-right">{{events.miles}}</th>
      </tr>
    </tfoot>
  </table>