<md-content ng-controller="MembersTrainingsCtrl">
  <md-card flex-gt-md="50" ng-hide="trainings.list.length">
    <md-card-content>No Training History</md-card-content>
  </md-card>
  <md-card ng-if="trainings.list.length">
    <md-card-content>
      <div layout="row" class="filter-row" layout-align="end center">
        <label>Year:</label>
        <md-select ng-model="trainings.showYear" class="md-accent" aria-label="Show year">
          <md-option ng-if="trainings.years.length > 1" ng-value="'all'" class="md-accent">Show All</md-option>
          <md-option ng-repeat="y in trainings.years" ng-value="y" class="md-accent">{{y}}</md-option>
        </md-select>
      </div>
      <md-table-container hide-xs>
        <table md-table sortable-columns md-progress="loading">
          <thead md-head md-order="trainings.query.order">
            <tr md-row>
              <th md-column md-order-by="event.stateNumber">Training #</th>
              <th md-column md-order-by="event.start">Date</th>
              <th md-column md-order-by="event.name">Title</th>
              <th md-column md-numeric md-order-by="hours">Hours</th>
              <th md-column md-numeric md-order-by="miles">Miles</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-auto-select ng-repeat="s in trainings.list | filter: trainings.filterList | orderBy: trainings.query.order" row-href="/trainings/roster/{{s.event.id}}" row-href-ext class="clickable">
              <td md-cell style="white-space:nowrap">{{s.event.stateNumber}}</td>
              <td md-cell style="white-space:nowrap">{{s.event.start | simpleDate}}</td>
              <td md-cell><strong md-colors="{color:'primary'}">{{s.event.name}}</strong></a></td>
              <td md-cell>{{s.hours.toFixed(2)}}</td>
              <td md-cell>{{s.miles}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr md-row>
              <th colspan="3">{{trainings.yearlyStats[trainings.showYear].count}} Training<span ng-if="trainings.yearlyStats[trainings.showYear].count != 1">s</span></th>
              <th class="r">{{trainings.yearlyStats[trainings.showYear].hours.toFixed(2)}}</th>
              <th class="r">{{trainings.yearlyStats[trainings.showYear].miles}}</th>
            </tr>
          </tfoot>
        </table>
      </md-table-container>
      <md-list flex hide-gt-xs>
        <md-list-item class="md-3-line" ng-repeat="s in trainings.list | filter: trainings.filterList" ng-href="/trainings/roster/{{s.event.id}}">
          <div class="md-list-item-text">
            <p>{{s.event.start | simpleDate}} {{s.event.stateNumber}}</p>
            <h3 md-colors="{color:'primary'}">{{s.event.name}}</h3>
            <p>{{s.hours.toFixed(2)}} hrs, {{s.miles}} mi</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <p>{{trainings.yearlyStats[trainings.showYear].count}} Training<span ng-if="trainings.yearlyStats[trainings.showYear].count != 1">s</span></p>
            <p>{{trainings.yearlyStats[trainings.showYear].hours.toFixed(2)}} Hour<span ng-if="trainings.yearlyStats[trainings.showYear].hours != 1">s</span></p>
            <p>{{trainings.yearlyStats[trainings.showYear].miles}} Mile<span ng-if="trainings.yearlyStats[trainings.showYear].miles != 1">s</span></p>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</md-content>