@{
  ViewBag.Title = "Units";
}
@section header {
  <h1>@Strings.GroupName Units</h1>
}
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <ul>
          @foreach (var unit in (IEnumerable<SarUnit>)Model)
          {
            <li>@(Html.ActionLink<UnitsController>(f => f.Detail(unit.Id), unit.DisplayName))</li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>