<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <appSettings file="web.local.config">
      <add key="DatabaseUpdateKey" value="NOT_PRODUCTION_KEY" />
      <add key="showKCESAR" value="yes" />
      <add key="carddataUser" value="[USERNAME]" />
      <add key="carddataPassword" value="[PASSWORD]" />
      <add key="rootOrgId" value="b267dbce-4930-4e98-9f6d-576ce9e82eed" />
      <add key="ChartImageHandler" value="storage=file;timeout=360;deleteAfterServicing=false;privateImages=false;Url=~/charts/" />
      <add key="EnumCategory" value="Aircraft,Alzheimer,Boater,Camper,Child,Climber,Deceased,Despondent,Elderly,Fisherman,Physically Handicapped,Hiker,Horseback,Hunter,Injured,Intentional,Lost,ELT False Alarm,Motorcycle,Mountain Bike,Overdue,Photographer,Picker,Rafter,Mentally Handicapped,Downhill Skier,Snowmobile,Swimmer,Vehicle,Walkaway,XC Skier" />
      <add key="EnumCause" value="Alcohol,Change/Weather,Darkness,Despondent,Drugs,Equipment Failed,Fall,Falling Object,Got Lost,Inexperience,Injury,Mental,Poor Equipment,Poor Fitness,Poor Supervision,Separation,Unknown,Weather" />
      <add key="EnumBehavior" value="Built Fire,Constructed Shelter,Did Nothing,Discarded Gear,Followed Terrain,Headed to Civilization,Moved During Day,Moved Downhill,Moved During Night,Moved Uphill,Panicked,Signaled For Help, Stayed Put, Stayed on Road, Stayed on Trail, Used Travel Aids, Unknown, Wandered, X-Country" />
      <add key="EnumTactics" value="Air Scent Dog, Attraction,ATV,Boat,Closed Grid -30, Confinement, Diver, Fixed Wing, Ground Scent Dog, Hasty Team, Helicopter, Horseback, Motorcycle, Mountain Bike, Open Grid +30, Raft, Road Search, Snowmobile, Sweep, ELT Team, Tracking" />
      <add key="EnumClues" value="Behavioral Data,Interview,Repeat Search,Statistical Data" />
      <add key="EnumFound" value="Friends, Non SAR Personnel, Relatives" />
      <add key="EnumTerminate" value="Area too Large, Authority Decision, False Report, Family, Hazards to Searchers, Lack of Clues, Lack of Resources, Subject Found, Weather" />
      <add key="EnumCondition" value="Deceased, Hypothermia, Major Injuries, Minor Injuries, Well" />
      <add key="EnumMissionType" value="Search,Rescue,Urban,Evidence,Project Lifesaver,Body Recovery,Turnaround,ELT,Support" />
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="auth:authority" value="https://localhost:44300" />
      <add key="auth:clientId" value="databaseweb" />
      <add key="auth:redirect" value="https://localhost:44394" />
      <add key="auth:secret" value="get_your_own" />
      <add key="dataStore" value="Data Source=(localdb)\ProjectsV12;Initial Catalog=devdb;Persist Security Info=True;Integrated Security=true;MultipleActiveResultSets=true" />
    </appSettings>
    <system.net>
      <mailSettings>
        <smtp deliveryMethod="SpecifiedPickupDirectory">
          <specifiedPickupDirectory pickupDirectoryLocation="c:\code\testmail" />
        </smtp>
      </mailSettings>
    </system.net>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" maxRequestLength="30000000" />
      <machineKey compatibilityMode="Framework45" validationKey="89FB663A94574181A59CCB4AE7B37D347B66052CE9512D80D97FBBD9A9018B35DC655D9F0E9F876B8C35404BC526DE3C4BD5FED09ED157678B2E57539F010409" decryptionKey="33E004D436452ABBED9B57599408B2D45CBECAF1FFBCD590" validation="SHA1" />
      <pages>
        <namespaces>
          <add namespace="System.Web.Helpers" />
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Optimization" />
          <add namespace="System.Web.Routing" />
          <add namespace="System.Web.WebPages" />
          <add namespace="Kcsara.Database.Web" />
          <add namespace="Kcsara.Database.Web.Controllers" />
          <add namespace="Microsoft.Web.Mvc" />
        </namespaces>
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </controls>
      </pages>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="30000000" />
        </requestFiltering>
      </security>
      <handlers>
        <remove name="ChartImageHandler" />
        <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </handlers>
      <rewrite>
        <rules>
          <!-- leave room for publish transform to insert rules here. -->
        </rules>
      </rewrite>
    </system.webServer>
  </location>
  <location path="favicon.ico">
    <system.webServer>
      <caching>
        <profiles>
          <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        </profiles>
      </caching>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="2.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <rewrite>
      <outboundRules>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
