<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>..\Deploy\production.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>KCSARA Database</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Kcsara.Database.Web.Model.MeshNodeEntities" Order="1" Enabled="True">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Kcsara.Database.Web.Model.MeshNodeEntities, Kcsara.Database.Web" MigrationConfiguration="Kcsara.Database.Web.Migrations.Configuration, Kcsara.Database.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Kcsar.Database.Model.KcsarContext" Order="2" Enabled="True">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Kcsar.Database.Model.KcsarContext, Kcsar.Database.Model" MigrationConfiguration="Kcsar.Database.Model.Migrations.Configuration, Kcsar.Database.Model" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KcsarManagement" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=accounts;Integrated Security=True;Persist Security Info=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KcsarManagement_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress;Initial Catalog=accounts;Persist Security Info=True;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Kcsar.Database.Model.KcsarContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Kcsara.Database.Web.Model.MeshNodeEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KcsarManagement-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Kcsar.Database.Model.KcsarContext" />
    <_ConnectionStringsToInsert Include="Kcsara.Database.Web.Model.MeshNodeEntities" />
  </ItemGroup>
</Project>