html { font-size:62.5%; overflow-y:scroll; }
body { padding: 66px 0px 0px 0px; font-size:1.4rem; }

h2 {
   margin-top: .2em;
   margin-bottom: .1em;
   font-weight: bold;
   font-size:2.6rem;
}

.navbar-inverse {
  background-color: rgb(55,55,55)
}
.navbar-inverse .navbar-brand {
  color: #fff
}

.panel-primary {
  border-color:rgb(233,148,0)
}
.panel-primary>.panel-heading{
  background-color:rgb(233,148,0);
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  border-color:rgb(233,148,0);
}

.bootstrap-dialog.type-primary .modal-header {
  background-color: rgb(233,148,0);
  padding: 5px;
}

.panel-heading {
  padding: 5px;
}

.form-control:focus {
  border-color: rgb(233, 166, 49);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 148, 0, 0.6);
}
.navbar-form form input {
  position: relative;
}
.form-control-feedback.fa {
  font: inherit;
  font-family: FontAwesome;
  line-height: 34px;
}

@media(min-width:768px) {
  .navbar-form {
    padding-right: 0px;
  }
}

/* so the search box drop down can overflow */
.navbar-collapse.in {
  overflow-y: visible;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  border-color: transparent; 
  border-bottom-color: rgb(233, 166, 49); 
  border-bottom-width: 3px;
}

@media(min-width:992px) {
  #searchBox { width: 300px; }
}
@media(min-width:1200px) {
  #searchBox {
    width: 350px;
  }
}
.search-box-dropdown {
  border: solid 1px #888;
  border-radius: 4px;
  background-color:white;
}
.search-box-item {
  border: solid 1px transparent;
  border-right-width:4px;
  cursor: pointer;
}
.search-box-highlight {
  border-color: rgb(233, 166, 49);
}
.search-box-item img { display:inline-block; padding:-1px; margin-right:8px; width:25px; height:34px }
.search-box-item div { display: inline-block; }

a, a:hover {
  color: #33840c
}
a:visited {
  color: #72840c
}

.r {
  text-align: right;
}
.c {
  text-align: center;
}

.overlay-container {
  position:relative;
}
.overlay {
  position:absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color:white;
  opacity: 0.75;
  z-index:10;
}

.nav-tabs > li > a {
  padding:.3em .4em;
}
@media(min-width:768px) {
  .nav-tabs > li > a {
    padding:.3em 1em;
  }
}

.tab-pane {
  display:none;
  padding-top:1em;
}

ul.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 300px;
    overflow-y: scroll;
}
ul.dropdown-menu-form li {
  padding-left:18px;
}

.btn .caret {
  margin-left:5px;
}