<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="passwordSync" type="Kcsara.Database.Web.Membership.Config.PasswordSyncSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="KcsarManagement" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=AuthDatabase;Persist Security Info=True;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <passwordSync>
    <synchronizer type="Kcsara.Database.Website.Tests.LeakPasswordSynchronizer, Internal.Kcsara.Database.Website.Tests" option="c:\code\testfile.log" />
  </passwordSync>
  <appSettings>
    <add key="showKCESAR" value="yes" />
    <add key="carddataUser" value="[USERNAME]" />
    <add key="carddataPassword" value="[PASSWORD]" />
    <add key="rootOrgId" value="b267dbce-4930-4e98-9f6d-576ce9e82eed" />
    <add key="ChartImageHandler" value="storage=file;timeout=360;deleteAfterServicing=false;privateImages=false" />
    <add key="EnumCategory" value="Aircraft,Alzheimer,Boater,Camper,Child,Climber,Deceased,Despondent,Elderly,Fisherman,Physically Handicapped,Hiker,Horseback,Hunter,Injured,Intentional,Lost,ELT False Alarm,Motorcycle,Mountain Bike,Overdue,Photographer,Picker,Rafter,Mentally Handicapped,Downhill Skier,Snowmobile,Swimmer,Vehicle,Walkaway,XC Skier" />
    <add key="EnumCause" value="Alcohol,Change/Weather,Darkness,Despondent,Drugs,Equipment Failed,Fall,Falling Object,Got Lost,Inexperience,Injury,Mental,Poor Equipment,Poor Fitness,Poor Supervision,Separation,Unknown,Weather" />
    <add key="EnumBehavior" value="Built Fire,Constructed Shelter,Did Nothing,Discarded Gear,Followed Terrain,Headed to Civilization,Moved During Day,Moved Downhill,Moved During Night,Moved Uphill,Panicked,Signaled For Help, Stayed Put, Stayed on Road, Stayed on Trail, Used Travel Aids, Unknown, Wandered, X-Country" />
    <add key="EnumTactics" value="Air Scent Dog, Attraction,ATV,Boat,Closed Grid -30, Confinement, Diver, Fixed Wing, Ground Scent Dog, Hasty Team, Helicopter, Horseback, Motorcycle, Mountain Bike, Open Grid +30, Raft, Road Search, Snowmobile, Sweep, ELT Team, Tracking" />
    <add key="EnumClues" value="Behavioral Data,Interview,Repeat Search,Statistical Data" />
    <add key="EnumFound" value="Friends, Non SAR Personnel, Relatives" />
    <add key="EnumTerminate" value="Area too Large, Authority Decision, False Report, Family, Hazards to Searchers, Lack of Clues, Lack of Resources, Subject Found, Weather" />
    <add key="EnumCondition" value="Deceased, Hypothermia, Major Injuries, Minor Injuries, Well" />
    <add key="EnumMissionType" value="Search,Rescue,Urban,Evidence,Project Lifesaver,Body Recovery,Turnaround,ELT,Support" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\maildrop" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <healthMonitoring enabled="true" heartbeatInterval="0">
      <eventMappings>
        <clear />
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
      </eventMappings>
      <providers>
        <clear />
        <add name="EventLogProvider" type="System.Web.Management.EventLogWebEventProvider" />
        <add type="System.Web.Management.SimpleMailWebEventProvider" name="EmailWebEventProvider" from="webpage@kingcountysar.org" to="webmaster@kingcountysar.org" buffer="false" />
      </providers>
      <rules>
        <clear />
        <add name="All Errors Default" eventName="All Errors" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
        <add name="All Errors Mail" eventName="All Errors" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
      </rules>
    </healthMonitoring>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" maxRequestLength="29296" />
    <machineKey compatibilityMode="Framework45" validationKey="B008BC9E475BC2C25D2C068CEA309DF748BF92BDAB992EA876246A51C67AEB804F50B98D1AA481445613B314215DFC02B2A28E3FBEDA759DF905B0C786A650E2" decryptionKey="65B8A3BD67C1117882F2595E0CAFB85C70B84F6D174828FC" validation="SHA1" />
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login" enableCrossAppRedirects="true" timeout="30" />
    </authentication>
    <membership defaultProvider="membership" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="membership" connectionStringName="KcsarManagement" applicationName="Kcsar" type="Kcsar.Membership.MembershipProvider" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" enablePasswordReset="true" enablePasswordRetrieval="false" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" passwordAttemptWindow="1" maxInvalidPasswordAttempts="100" />
      </providers>
    </membership>
    <profile inherits="Kcsar.Membership.DatabaseUserProfile" defaultProvider="DatabaseProfileProvider">
      <providers>
        <clear />
        <add name="DatabaseProfileProvider" type="Kcsar.Membership.DatabaseProfileProvider" connectionStringName="KcsarManagement" applicationName="Kcsar" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <add name="SqlRoleManager" type="Kcsar.Membership.RoleProvider" connectionStringName="KcsarManagement" applicationName="Kcsar" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kcsara.Database.Web" />
        <add namespace="Kcsara.Database.Web.Controllers" />
        <add namespace="Microsoft.Web.Mvc" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ServiceAuthModule" type="Kcsara.Database.Web.ServiceAuthModule" />
    </modules>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>