@{
  ViewBag.Title = "Missions";
}
@section header {
  <h1>Missions</h1>
}
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <ul>
          <li>
            <a asp-action="List">Past Missions (Rosters)</a>
          </li>
        </ul>
        @*<ul>
          <li>@(Html.ActionLink<MissionsController>(f => f.Yearly(DateTime.Today.Year), "Yearly Statistics"))</li>
          <li>@(Html.ActionLink<MissionsController>(f => f.MissionsKML(null, null), "Open missions Google Earth"))</li>
        </ul>*@
      </div>
    </div>
  </div>
</div>